/*
 * @Descripttion: 固定样式
 * @version: 1.0.0
 * @Author: Kenny
 * @Date: 2024-07-05 11:06:37
 * @LastEditors: ~
 * @LastEditTime: 2024-12-25 17:21:45
 */
@import "./mixin.scss";

* {
    margin: 0;
    padding: 0;
}

.w50 {
    width: 50% !important;
}

.w70 {
    width: 70% !important;
}

.w100 {
    width: 100% !important;
}

.h100 {
    height: 100% !important;
}

//margin
.m0 {
    @include m(0px);
}

.mt5 {
    @include mt(5px);
}

.ml5 {
    @include ml(5px);
}

.mr5 {
    @include mr(5px);
}

.mb20 {
    @include mb(20px);
}

.mb50 {
    @include mb(50px);
}

//padding
.pd {
    padding: 0 !important;
}


.pt {
    padding-top: 0 !important;
}

.pd5 {
    padding: 5px;
}

.plr20 {
    padding: 0 20px !important;
}

.p20 {
    padding: 20px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.fw {
    font-weight: bolder;
}