//不规范定义-后期慢慢脱离
//indexDashboard
$fzcolor1: #6fb0d5;
$fzcolor2: #b7cbd3;
$fzcolor3: #4ec3e7;
$fzcolor4: #1ac9ff;
$fzcolor5: #56c1f9;

$red01: #ff703a;
$red50: #ff6325;
$red51: #ff8143;

$orange01: #f0c187;
$orange02: #f6b747;
$orange03: #fffa64;
$orange04: #fbd44a;

$green10: #2ed2c7;
$green11: #3adacf;
$green12: #03c59b;
$green50: #34f2d5;
$green51: #7ed071;

$blue01: #19c6ea;
$blue02: #56c1f9;
$blue03: #00E5FF;
$blue04: #1AC9FF;
$blue05: #1585fa;

$mainbg1: #22337e;
$mainbg2: #062a53;
$mainbg3: #082183;
$mainbg4: #235a99;
$mainbg5: #0c52a0;
$mainbg6: #2764A8;

$blued: blue;

$blued-01: #479CF3;
$red-01: #FD5D5D;
$violet-01: #7c55ff;
$orange-65: #FAB065;