@charset "UTF-8";
/*
 * @Descripttion: 固定样式
 * @version: 1.0.0
 * @Author: Kenny
 * @Date: 2024-07-05 11:06:37
 * @LastEditors: ~
 * @LastEditTime: 2024-08-29 15:27:35
 */
@import './product/stylenew.css';
.w100 {
  width: 100% !important;
}

.w50 {
  width: 50% !important;
}

.h100 {
  height: 100% !important;
}

.m0 {
  margin: 0 !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.pd {
  padding: 0 !important;
}

.mg {
  margin: 0 !important;
}

.pt {
  padding-top: 0 !important;
}

.pd5 {
  padding: 5px;
}

.plr20 {
  padding: 0 20px !important;
}

.p20 {
  padding: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.fw {
  font-weight: bolder;
}

.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}

.multiple-selection .el-table__header-wrapper .el-table__header .el-checkbox {
  display: none;
}

.el-pagination {
  text-align: center;
  margin: 15px 0;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type=file] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.upload-container .el-upload {
  width: 100%;
}
.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

.el-range-separator {
  box-sizing: content-box;
}

.el-form {
  overflow: hidden;
}
.el-form .el-range-editor.is-disabled {
  background: none;
  border-width: 0;
  color: #333;
  text-align: left;
}
.el-form .el-range-editor.is-disabled .el-range-separator,
.el-form .el-range-editor.is-disabled .el-range__icon {
  color: #333;
}
.el-form .el-input-group--append.is-disabled .el-input__inner {
  border-width: 1px;
  border-color: #eee;
}
.el-form .is-disabled *,
.el-form .is-disabled .el-radio__inner::after {
  cursor: default !important;
}
.el-form .is-disabled .el-input__inner,
.el-form .is-disabled .el-textarea__inner,
.el-form .is-disabled .el-range-input {
  background: none;
  border-width: 0;
  color: #333;
  text-align: left;
}
.el-form .is-disabled .el-input__inner .el-range-separator,
.el-form .is-disabled .el-input__inner .el-range__icon,
.el-form .is-disabled .el-textarea__inner .el-range-separator,
.el-form .is-disabled .el-textarea__inner .el-range__icon,
.el-form .is-disabled .el-range-input .el-range-separator,
.el-form .is-disabled .el-range-input .el-range__icon {
  color: #333;
}
.el-form .is-disabled .el-range-input {
  text-align: center;
}
.el-form .is-disabled .el-input-number__decrease,
.el-form .is-disabled .el-input-number__increase,
.el-form .is-disabled .el-input__suffix {
  display: none;
}
.el-form .w-item {
  width: 50%;
  display: inline-block;
}
.el-form .w100-item {
  width: 100% !important;
}
.el-form .el-upload img {
  width: 100%;
  height: 100%;
}

.el-form-w50 .el-form-item {
  width: 50%;
  float: left;
  display: block;
}

.el-form-w33 .el-form-item {
  width: 33.33%;
  float: left;
  display: block;
}

.el-form-w25 .el-form-item {
  width: 25%;
  float: left;
  display: block;
}

.el-form-disabled .el-form-item__label {
  position: relative;
}
.el-form-disabled .el-form-item__label::after {
  content: " :";
}

.el-tabs-line-no-bottom .el-tabs__nav-wrap::after {
  width: 0 !important;
}

.el-popover .content {
  max-width: 280px;
  max-height: 150px;
  overflow: auto;
}

.el-popover__reference-wrapper .ellipsis {
  display: block;
  text-align: left;
}

.el-popover.popperBox,
.el-popover.popperBoxs {
  background: #19369d;
  border-color: #546cc4;
  color: #e5f7ff;
  padding: 0.5rem;
  font-size: 1rem;
}
.el-popover.popperBox .content,
.el-popover.popperBoxs .content {
  max-width: 15rem;
  max-height: 6.3rem;
  overflow: auto;
}

.el-popover.popperBox[x-placement^=bottom] .popper__arrow,
.el-popover.popperBoxs[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #546cc4;
}
.el-popover.popperBox[x-placement^=bottom] .popper__arrow::after,
.el-popover.popperBoxs[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #19369d;
}

.el-popover.popperBox[x-placement^=top] .popper__arrow,
.el-popover.popperBoxs[x-placement^=top] .popper__arrow {
  border-bottom-color: #546cc4;
}
.el-popover.popperBox[x-placement^=top] .popper__arrow::after,
.el-popover.popperBoxs[x-placement^=top] .popper__arrow::after {
  border-top-color: #19369d;
}

.tsp.el-tooltip__popper {
  background: #19369d;
  border: 1px solid #546cc4;
  color: #e5f7ff;
}

.tsp.el-tooltip__popper[x-placement^=right] .popper__arrow::after {
  border-right-color: #19369d;
}
.tsp.el-tooltip__popper[x-placement^=right] .popper__arrow {
  border-right-color: #546cc4;
}

.tsp.el-tooltip__popper[x-placement^=left] .popper__arrow::after {
  border-left-color: #19369d;
}
.tsp.el-tooltip__popper[x-placement^=left] .popper__arrow {
  border-left-color: #546cc4;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-card.app-xy .el-card__body {
  width: 100%;
  height: 100%;
}

.el-table__body tr.current-row > td.el-table__cell {
  background: #FFF0D4;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td.el-table__cell {
  background: #FFF0D4;
}

.el-table ::-webkit-scrollbar {
  height: 10px;
}

.el-tooltip__popper {
  max-width: 220px;
  line-height: 20px;
}

.el-tooltip__popper.is-light {
  border-color: #EBEEF5;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
  border-top-color: #EBEEF5;
}

.el-dialog__body .el-form.el-form-wv {
  width: 80%;
  margin: 0 auto;
}
.el-dialog__body .content-data {
  min-height: 300px;
  max-height: 600px;
  overflow: auto;
  position: relative;
}
.el-dialog__body .content-data iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0.99);
}
.el-dialog__body .app-container {
  max-height: 88vh;
  overflow: auto;
}
.el-dialog__body .app-container.app-box {
  min-height: 77vh;
}
.el-dialog__body .app-container.app-box.app-box-min {
  min-height: 55vh;
}

.el-dialog__body-content .el-dialog__body {
  padding: 0;
}
.el-dialog__body-content .el-dialog__body .content-data {
  padding: 30px 15px;
  box-sizing: border-box;
}

.el-table th {
  text-align: center !important;
}
.el-table .cell .el-range-editor.is-disabled {
  background: none;
  border-width: 0;
  color: #333;
  text-align: left;
}
.el-table .cell .el-range-editor.is-disabled .el-range-separator,
.el-table .cell .el-range-editor.is-disabled .el-range__icon {
  color: #333;
}
.el-table .cell .el-input-group--append.is-disabled .el-input__inner {
  border-width: 1px;
  border-color: #eee;
}
.el-table .cell .is-disabled *,
.el-table .cell .is-disabled .el-radio__inner::after {
  cursor: default !important;
}
.el-table .cell .is-disabled .el-input__inner,
.el-table .cell .is-disabled .el-textarea__inner,
.el-table .cell .is-disabled .el-range-input {
  background: none;
  border-width: 0;
  color: #333;
  text-align: left;
}
.el-table .cell .is-disabled .el-input__inner .el-range-separator,
.el-table .cell .is-disabled .el-input__inner .el-range__icon,
.el-table .cell .is-disabled .el-textarea__inner .el-range-separator,
.el-table .cell .is-disabled .el-textarea__inner .el-range__icon,
.el-table .cell .is-disabled .el-range-input .el-range-separator,
.el-table .cell .is-disabled .el-range-input .el-range__icon {
  color: #333;
}
.el-table .cell .is-disabled .el-range-input {
  text-align: center;
}
.el-table .cell .is-disabled .el-input-number__decrease,
.el-table .cell .is-disabled .el-input-number__increase,
.el-table .cell .is-disabled .el-input__suffix {
  display: none;
}
.el-table .cell .icon {
  font-size: 20px;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;
}
.el-table .cell .el-badge.el-icon {
  margin-right: 5px;
}
.el-table .cell .el-badge.el-icon .el-badge__content {
  top: -2px;
}
.el-table .cell .el-icon-edit-outline {
  color: #f79c20;
}
.el-table .cell .el-icon-view {
  color: #5a9cf9;
}
.el-table .cell-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-table .cell-btn .el-button {
  margin-left: 10px;
}
.el-table .cell-btn .el-submenu .el-submenu__title i {
  color: #fff;
  margin: 0px;
}
.el-table .cell-btn .el-submenu .el-submenu__title {
  padding: 0 10px;
  box-sizing: border-box;
  height: 28px;
  line-height: 28px;
}
.el-table .cell-block {
  display: block;
}
.el-table .cell-block .el-button {
  margin: 0 0 10px 10px;
}

.appner .vxe-table--render-default.border--full .vxe-header--column {
  background-image: linear-gradient(#04276c, #04276c), linear-gradient(#1686fa, #1686fa);
}
.appner .vxe-table--render-default.border--full .vxe-body--column {
  background-image: linear-gradient(#041554, #041554), linear-gradient(#1686fa, #1686fa);
}
.appner .vxe-table--render-default.border--default .vxe-body--column {
  background-image: linear-gradient(red, red);
}
.appner .vxe-table .vxe-table--header-wrapper {
  color: #00d7ff;
}
.appner .vxe-table--render-default {
  color: #fff;
}
.appner .vxe-table--render-default.border--default .vxe-body--column,
.appner .vxe-table--render-default.border--default .vxe-footer--column,
.appner .vxe-table--render-default.border--default .vxe-header--column,
.appner .vxe-table--render-default.border--inner .vxe-body--column,
.appner .vxe-table--render-default.border--inner .vxe-footer--column,
.appner .vxe-table--render-default.border--inner .vxe-header--column {
  background: #1686fa;
}
.appner .vxe-header--row {
  background: #04276c;
}
.appner .vxe-body--row {
  background: #041554;
}
.appner .mytable-scrollbar ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.appner .vxe-table--render-default.border--full .vxe-table--header-wrapper {
  background-color: #04276c;
}
.appner .vxe-table--render-default.border--full .vxe-table--body-wrapper {
  background-color: #041554;
}

.el-select-bg {
  background: #131f53;
  border-color: rgba(40, 108, 183, 0.9019607843);
}
.el-select-bg .el-scrollbar__wrap {
  max-height: 10rem;
}
.el-select-bg span {
  color: #e5f7ff;
  font-size: 0.8rem;
}
.el-select-bg .el-select-dropdown__item.hover,
.el-select-bg .el-select-dropdown__item:hover,
.el-select-bg .el-cascader__search-input {
  background: #22337e;
  border-color: #22337e;
}
.el-select-bg .popper__arrow {
  border-bottom-color: rgba(40, 108, 183, 0.9019607843) !important;
}
.el-select-bg .popper__arrow::after {
  border-bottom-color: #131f53 !important;
}
.el-select-bg .el-cascader-node:not(.is-disabled):focus,
.el-select-bg .el-cascader-node:not(.is-disabled):hover {
  background: rgba(30, 74, 124, 0.9019607843);
}
.el-select-bg .el-icon-arrow-right:before {
  color: #e5f7ff;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.img-obj {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 26px 30px 20px 36px;
  overflow: auto;
}
.app-container .app-container {
  position: relative;
  padding: 0;
}
.app-container .topBox {
  display: flex;
  flex-wrap: wrap;
}
.app-container .topBox .topBoxItem {
  display: flex;
}
.app-container .topBox .topBoxItem .topBoxSpan {
  margin-right: 10px;
  text-align: right;
  line-height: 40px;
  color: #333335;
}
.app-container .topBox .topBoxItem .el-input {
  width: 224px;
  margin-right: 24px;
  margin-bottom: 20px;
}
.app-container .topBox .topBtn {
  margin-left: 15px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.app-container-form {
  margin: 32px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 1px solid #e4e7ed;
  padding: 32px 82px 32px 0;
}
.app-container-form .dialog-footer {
  text-align: center;
  margin-top: 130px;
}
.app-container-form .bottomBtn {
  width: 200px;
  height: 48px;
}
.app-container-form .topmsg {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
.app-container-form .topmsg .topmsgl {
  font-weight: bolder;
  font-size: 30px;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*控制二行*/
.ifortwo {
  text-align: left;
  line-height: 33px;
  max-height: 66px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  white-space: normal;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.border {
  border: 1px solid #fff;
}

.fzred {
  color: red !important;
}

.fzred_ff8143 {
  color: #ff8143 !important;
}

.fzcolor_1ac9ff {
  color: #1ac9ff !important;
}

.fzcolor_00FFF4 {
  color: #00FFF4 !important;
}

.fzgreen {
  color: green !important;
}

.fzgreen_52C41A {
  color: #52C41A !important;
}

.fzgreen_2ed2c7 {
  color: #2ed2c7 !important;
}

.fzorange {
  color: orange !important;
}

.fzorange_fbd44a {
  color: #fbd44a !important;
}

.fzorange_fffa64 {
  color: #fffa64 !important;
}

.fzorange_f6b747 {
  color: #f6b747 !important;
}

.fzorange_f0c187 {
  color: #f0c187 !important;
}

.fzorange_F8AC15 {
  color: #F8AC15 !important;
}

.fzorange_f6b747 {
  color: #f6b747 !important;
}

.fzblue {
  color: blue !important;
}

.fzblue_19c6ea {
  color: #19c6ea !important;
}

.fzblue_56c1f9 {
  color: #56c1f9 !important;
}

.fzc {
  color: #e5f7ff;
}

/**start***/
.fzred51 {
  color: #ff8143 !important;
}

.fzgreen {
  color: green !important;
}

.fzgreen51 {
  color: #7ed071 !important;
}

.fzorange {
  color: orange !important;
}

.fzorange04 {
  color: #fbd44a !important;
}

.fzorange03 {
  color: #fffa64 !important;
}

.fzorange02 {
  color: #f6b747 !important;
}

.fzorange01 {
  color: #f0c187 !important;
}

.fzblue01 {
  color: #19c6ea !important;
}

.fzblue02 {
  color: #56c1f9 !important;
}

.fzred01 {
  color: #ff703a !important;
}

/**end***/
.bd {
  border: 1px solid #333;
}

.box {
  width: 100%;
  height: 100%;
}

.bg2 {
  background: #062a53;
}

.bg3 {
  background: #082183;
}

.bg5 {
  background: #0c52a0;
}

.echart {
  text-align: left;
}

.echart,
.app-xy,
.echart_no {
  width: 100%;
  height: 100%;
}

.tac {
  text-align: center !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

.hide {
  display: none !important;
}

.fz-color {
  font-family: Microsoft YaHei;
  background: linear-gradient(0deg, #1c9df5 0%, #fff 100%);
  background-clip: text;
  color: transparent !important;
}

.hidetxt {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cp {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #c9c5c5;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #f8f3f3;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.title {
  line-height: 30px;
  position: relative;
  padding-left: 10px;
  font-size: 18px;
}

.title.line-cc::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 4px;
  left: 0;
  height: 15px;
  background: #1890ff;
}

.topBox {
  display: flex;
  flex-wrap: wrap;
}
.topBox .topBoxItem {
  display: flex;
}
.topBox .topBoxSpan {
  width: 100px;
  margin-right: 10px;
  text-align: right;
  line-height: 40px;
  color: #333335;
}
.topBox .serchInput {
  width: 224px;
  margin-right: 24px;
  margin-bottom: 20px;
}
.topBox .topBtn {
  margin-right: 15px;
  height: 40px;
  margin-bottom: 10px;
}
.topBox .topBtn:last-child {
  margin-right: 0;
}

.topBtnTT {
  display: inline-block;
  margin-right: 14px;
  color: #999999;
  font-size: 14px;
  padding-left: 34px;
}
.topBtnTT svg {
  margin-right: 14px;
}
.topBtnTT span {
  color: #fb4e5f;
}

.absolute-xy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

iframe {
  border-width: 0;
}

.grid-purple .bg-purple {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  padding: 5px 0;
  box-sizing: border-box;
}
.grid-purple .repertLeft {
  width: 75%;
  height: 130px;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.grid-purple .repertLeft .totalTxt {
  margin-left: 20px;
  color: #333333;
  font-size: 16px;
  margin-top: 15px;
}
.grid-purple .repertLeft .totalTxt span {
  color: #666666;
  font-size: 12px;
  margin-left: 10px;
}
.grid-purple .repertLeft .totalNum {
  margin-left: 20px;
  color: #333333;
  font-size: 35px;
  margin-top: 15px;
  white-space: nowrap;
}
.grid-purple .repertLeft .totalNum span {
  color: #333333;
  font-size: 20px;
  margin-left: 10px;
}
.grid-purple .repertRight {
  width: 54px;
  height: 54px;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
}
.grid-purple .bg-list {
  display: block;
}
.grid-purple .bg-list .purple {
  display: flex;
}
.grid-purple .bg-list .purple-list {
  display: flex;
  justify-content: space-around;
}

.grid-purple-bg .bg-purple {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
}
.grid-purple-bg .bg-purple .repertLeft .totalTxt,
.grid-purple-bg .bg-purple .repertLeft .totalNum {
  color: #fff;
}
.grid-purple-bg .grid-purple-item:nth-of-type(1) .bg-purple {
  background-image: url("~@toolStyle/assets/bg-list/1.png");
}
.grid-purple-bg .grid-purple-item:nth-of-type(2) .bg-purple {
  background-image: url("~@toolStyle/assets/bg-list/2.png");
}
.grid-purple-bg .grid-purple-item:nth-of-type(3) .bg-purple {
  background-image: url("~@toolStyle/assets/bg-list/3.png");
}
.grid-purple-bg .grid-purple-item:nth-of-type(4) .bg-purple {
  background-image: url("~@toolStyle/assets/bg-list/4.png");
}
.grid-purple-bg .grid-purple-item:nth-of-type(5) .bg-purple {
  background-image: url("~@toolStyle/assets/bg-list/5.png");
}

:export {
  menuText: #e9e7e7;
  menuActiveText: #ffd04b;
  subMenuActiveText: #0AC8DB;
  menuBg: #304156;
  menuHover: #249FED;
  subMenuBg: #1f2d3d;
  subMenuHover: #249FED;
  sideBarWidth: 246px;
  bgfzColor: #e5f7ff;
}

/*# sourceMappingURL=index.css.map */
