@import '../api_resource/lib/index.scss';
@import './product/stylenew.scss';

.snapshot {
  display: flex;
  justify-self: flex-start;

  .icon {
    width: 550px;
    margin-right: 5px;
  }

  .icon-min {
    width: 100px;
  }
}
