<!--
 * @Descripttion: 外站技术
 * @version: 1.0.0
 * @Author: YangKe
 * @Date: 2019-12-17 09:41:06
 * @LastEditors: ~
 * @LastEditTime: 2023-11-30 14:10:13
 -->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>camera</title>
	<!--common css/js-->
	<script src="/js/common/common-cloud.js" type="text/javascript" charset="utf-8"></script>
	<!--声明css,js变量-->
	<script type="text/javascript">
		var LSList = {
			type1: 'link',
			type2: 'script',
			//引入的路径列表
			list1: [
			],
			list2: [
				"plugins/vue/vue.js",
				"plugins/vue/vue-resource.js",
				"plugins/vue/vue-router.js",
			]
		};
	</script>
	<style type="text/css">
		.chart {
			height: 80Vh;
			background-color: bisque;
			margin: 0 auto;
			display: block;
			color: aqua;
			font-size: 30px;
		}

		.masklayer {
			display: block;
		}

		.shoot {
			padding: 2rem;
			margin: 0 auto;
			color: rgb(21, 121, 83);
			font-size: 2.5rem;
			text-align: center;
		}
	</style>
	<!--About css-->
	<script type="text/javascript">writeImportFile(LSList.type1, LSList.list1);</script>
</head>

<body class="catalogue-url">
	<!--mvvm-->
	<!--view -->
	<div id="app">
		<h1>camera</h1>
		<div ref="wrapper">
			<div class="chart" ref="videoEl">{{info}}</div>
			<div @click="shoot" class="shoot btn btn-submit">
				点击
			</div>
		</div>
	</div>
	<!--Tripartite js-->
	<!--common js-->
</body>
<!--Tripartite js-->
<!--About js-->
<script type="text/javascript">writeImportFile(LSList.type2, LSList.list2);</script>
<script type="module">
	var data = {
		message: "hello message",
		info: "hello info",
		isShow: true,
		wrapper: null,
		videoEl: null
	};
	var app = new Vue({
		//el: vue实例规定,传入view的选择器
		el: "#app",
		//data属性: 传入model对应对象
		data: data,
		created() {
			this.wrapper = this.$refs.wrapper
			this.videoEl = this.$refs.videoEl
		},
		mounted() {
			this.checkCamera()
		},
		methods: {
			async checkCamera() {
				this.info = 'hello message to info'
			},
			shoot(ev) {
				console.log(ev)
			}
		}
	});

</script>

</html>